<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>

<div class="container">
  <button class="btn btn-outline-primary"> Click Me</button>
  <button class="btn btn-outline-secondary">Click Me</button>
  <button class="btn btn-outline-success">Click Me</button>
  <button class="btn btn-outline-danger">Click Me</button>
  <button type="button" class="btn btn-outline-warning btn-sm btn-block">Click Me</button>
  <button type="button" class="btn btn-outline-info  btn-lg btn-block" disabled>Click Me</button>
</div>
<div class="container">
  <div class="jumbotron">
    <h1 class="display-4 text-primary" >Hello World!</h1>
   <hr class="my-4">
    <p class="lead">it uses utility for topography</p>
    <a class="btn btn-outline-primary btn-lg" href="">Wow</a>
  </div>
</div>

<div class="container">
  <div class="jumbotron bg-dark text-white">
    <h1 class="display-4 text-white" >Adopt a Pet</h1>
    <hr class="my-4">
    <p class="lead">Apporximately 75 million animals live in the jungle and desert </p>
    <a class="btn btn-light btn-lg text-black-50" href="">Wow!</a>
  </div>
</div>
</body>
</html>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a href="#" class="navbar-brand"> Recipe Book</a>
    </div>

    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li><a href="#">Recipes</a></li>
        <li><a href="#">Shopping Lists</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" role="button">Manage<span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="#">Saving Data</a></li>
          <li><a href="#">Fetch Data</a></li>
        </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>


