<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.7/css/all.css">
  <title>Document</title>
</head>
<body>

<div class="container">
  <button class="btn btn-outline-primary"> Click Me</button>
  <button class="btn btn-outline-secondary">Click Me</button>
  <button class="btn btn-outline-success">Click Me</button>
  <button class="btn btn-outline-danger">Click Me</button>
  <button type="button" class="btn btn-outline-warning btn-sm btn-block">Click Me</button>
  <button type="button" class="btn btn-outline-info  btn-lg btn-block" disabled>Click Me</button>
</div>
<div class="container">
  <div class="jumbotron">
    <h1 class="display-4 text-primary" >Hello World!</h1>
   <hr class="my-4">
    <p class="lead">it uses utility for topography</p>
    <a class="btn btn-outline-primary btn-lg" href="">Wow</a>
  </div>
</div>

<div class="container">
  <div class="jumbotron bg-dark text-white">
    <h1 class="display-4 text-white" >Adopt a Pet</h1>
    <hr class="my-4">
    <p class="lead">Apporximately 75 million animals live in the jungle and desert </p>
    <p class="h5 text-primary">This is major</p>
    <a class="btn btn-light btn-lg text-black-50" href="">Wow!</a>
  </div>

  <div class="container">
    <h1>Part1</h1>
     <p class="text-primary display-4">Make me blue(primary) and display size 4</p>
     <p class="h1">Make me look like a h1</p>
    <button class="btn btn-lg btn-danger">larger Red Button</button>
    <button class="btn btn-warning"> Regular Yellow Button</button>
    <button class=" btn btn-sm btn-success">Small green Button</button>
    <a class="btn btn-lg btn-outline-info">Large light Blue Outline</a>
    <button class="btn bg-sm btn-outline-success text-danger">Button small green outline Button with red text</button>
    <p class="h1">Big Text <small class="text-muted">Make me Muted</small></p>
    <a class="bg-dark text-white text-center btn-block">Dark Background white text AND center aligned</a>
    <button  class="btn btn-link text-black-50 btn-light">make me look like a link, not a button</button>
    <h1>Part2</h1>
  </div>

  <div class="container">
    <div class="jumbotron text-left">
      <h1 class="display-3">My Website</h1>
      <blockquote>
        <p>This is the best website i have ever used , and i strongly encourage eceryone to pay lots of money for it</p>
        <footer class="blockquote-footer">Satisfied Customer</footer>
      </blockquote>
      <button class=" btn text-white btn-lg btn-info">Subscribe</button>
    </div>
  </div>


  <div id="fogheader" class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-3"> This is Fog</h1>
      <blockquote><p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium consectetur eaque esse facere fugiat harum nesciunt nisi nobis officiis voluptatibus!</p></blockquote>
      <button class="btn btn-lg text-white btn-success">Try it Now!</button>
    </div>
  </div>
<style>
  #fogheader{

  }
</style>
  <div class="h1 bg-dark text-white">This is an h1 block</div>
  <div class="h1 bg-dark text-white d-inline">This is an h1 inline</div>
  <span class="bg-info text-white">I am a Span</span>
  <br/>
  <span class="bg-info text-white d-block">I am a Real Span</span>
  <h1 class="d-none d-sm-block">Hidden on XS</h1>
  <h1 class="d-none d-md-block">Hidden on Middle XS</h1>

  <div class="container">
    <h1>Current breakpoint is:
      <span class="d-inline d-sm-none">XS</span>
      <span class="d-none d-sm-inline d-md-none">SM</span>
      <span class="d-none d-md-inline d-lg-none">MD</span>
      <span class="d-none d-lg-inline d-xl-none">LG</span>
      <span class="d-none d-xl-inline">XL</span>
    </h1>
  </div>

</div>
<div class="container">
  <span class="border">big</span>
  <span class="border-bottom">bang</span>
  <span class="border-right">history</span>
  <span class="border border-left-0">love</span>
  <span class="border border-info rounded">surrounded</span>
  <span class="border border-info rounded-circle">with</span>
  <span class="border ">love</span>
  <br/>
  <h3 class="shadow-sm">Small Shadow</h3>
  <h3 class="shadow">Regular Shadow</h3>
  <h3 class="shadow-lg">Large Shadow</h3>
</div>

<div class="container">
  <h1 class="p-0 bg-info d-inline-block">p-0</h1>
  <h1 class="p-1 bg-info d-inline-block">p-1</h1>
  <h1 class="p-2 bg-info d-inline-block">p-2</h1>
  <h1 class="p-3 bg-info d-inline-block">p-3</h1>
  <h1 class="p-4 bg-info d-inline-block">p-4</h1>
  <h1 class="p-5 bg-info d-inline-block">p-5</h1>
  <button class="btn p-5 btn-lg bg-warning">pt-5</button>
  <br/>
  <h1 class="display-1">Margin Utility</h1>
  <h1 class="m-0 bg-success d-inline-block">m-0</h1>
  <h1 class="m-1 bg-success d-inline-block">m-1</h1>
  <h1 class="m-2 bg-success d-inline-block">m-2</h1>
  <h1 class="m-3 bg-success d-inline-block">m-3</h1>
  <h1 class="m-4 bg-success d-inline-block">m-4</h1>
  <h1 class="m-5 bg-success d-inline-block">m-5</h1>
</div>

<div class="container">
  <span class="m-2 m-md-3 m-lg-4 m-xl-5 bg-danger"></span>
  <span class="m-2 m-md-3 m-lg-4 m-xl-5 bg-danger"></span>
  <span class="m-2 m-md-3 m-lg-4 m-xl-5 bg-danger"></span>
  <span class="m-2 m-md-3 m-lg-4 m-xl-5 bg-danger"></span>
  <span class="m-2 m-md-3 m-lg-4 m-xl-5 bg-danger"></span>
  <span class="m-2 m-md-3 m-lg-4 m-xl-5 bg-danger"></span>
</div>


<div class="container">
  <h1 class="border border-success">Give me a green Boarder</h1>
  <h1 class="border-bottom border-danger">Give me a red Bottom border</h1>
  <h1 class="border border-warning rounded">Give me a rounded yellow border</h1>
  <h4 class="bg-danger text-white d-inline-block">red bg, white text, display inline</h4>

  <button class="btn btn-lg bg-info shadow-lg">Large Button with Large Shadow</button>

  <div class="shadow-sm p-3 my-5">small shadow with padding(3) all around and margin(5) on top and bottom</div>

  <button class="btn btn-lg btn-outline-success p-xs-0 p-md-3 p-xl-5">I Grow</button>

  <h2 class="d-none text-center d-xs-block d-sm-block">Center me, and make me hide at XS and SM</h2>
</div>

<div class="container">
  <h1>Form</h1>
  <form>
    <div class="form-group">
      <label for="email">Email Address</label>
      <input type="email" id="email" class="form-control" placeholder="enter your email" />
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" id="password" class="form-control" placeholder="Enter your password">
      <small class="text-muted">Password must have at least 8 character</small>
    </div>
    <div class="form-group">
      <label for="multiselect">Select one of the following</label>
      <select id="multiselect" class="form-control">
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
        <option>6</option>
        <option>7</option>
        <option>8</option>
        <option>9</option>
      </select>
      <small class="text-muted">Hold</small>
    </div>
    <div class="form-group">
      <label for="textarea">Text Area</label>
      <textarea id="textarea" class="form-control" rows="4"></textarea>
    </div>
    <div class="form-group">
      <label for="data"></label>
      <input type="file" class="form-control-file" id="data">
    </div>
    <div class="form-group">
      <label for="formControlRange">Example Range Input</label>
      <input type="range" id="formControlRange" class="form-control-range"/>
    </div>
    <div class="form-group">
      <label for="largeemail"></label>
      <input id="largeemail" class="form-control form-control-lg" placeholder="enter your email"/>
    </div>
    <div class="form-group">
      <label for="smallemail"></label>
      <input id="smallemail" class="form-control form-control-sm"  placeholder="enter your email"/>
    </div>
    <input type="submit" value="Submit" class="btn btn-lg btn-primary" />
  </form>
</div>
<div class="container">
  <h1 class="display-4">Form CheckBox</h1>
  <div class="form-check">
    <input class="form-check-input" type="checkbox" name="" id="chicken"/>
    <label class="form-check-label" for="chicken">Chicken</label>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="checkbox" name="" id="cheese">
    <label class="form-check-label" for="cheese">Cheese</label>
  </div>
  <div class="form-check">
    <input  class="form-check-input" type="checkbox" id="rabbit" name=""/>
    <label class="form-check-label" for="rabbit">Rabbit</label>
  </div>
  <h1 class="display-4">Form RadioButton</h1>
   <div class="form-check form-check-inline">
     <input type="radio" class="form-check-input" id="burger" name="food" >
     <label class="form-check-label" for="burger">Burger</label>
   </div>
  <div class="form-check form-check-inline">
    <input type="radio" class="form-check-input" id="pissa" name="food" >
    <label class="form-check-label" for="pissa">pissa</label>
  </div>
  <div class="form-check form-check-inline">
    <input type="radio" class="form-check-input" id="sandwich" name="food" >
    <label class="form-check-label" for="sandwich">sandwich</label>
  </div>
</div>

<div class="container">
  <form>


  <h4> Custom Checkbox</h4>
  <div class="custom-control custom-checkbox">
    <input type="checkbox" name="Animal1" id="Cat" class="custom-control-input"/>
    <label class="custom-control-label" for="Cat">Cat</label>
  </div>
  <h4>Custom Radio</h4>
  <div class="custom-control custom-radio">
    <input class = "custom-control-input" type="radio" id="Dog" name="Animal" />
    <label class = "custom-control-label" for="Dog">Dogs</label>
  </div>
  <div class="custom-control custom-radio">
    <input class = "custom-control-input" type="radio" id="Power" name="Animal" />
    <label class = "custom-control-label" for="Power">Cows</label>
  </div>
  <h4>Custom File</h4>
  <div class="custom-file">
    <input id="customfile" type="file" class="custom-file-input" />
    <label class="custom-file-label" for="customfile">Choose File</label>
  </div>
  <h5>Custom Range</h5>
  <div class="custom-control custom-range">
    <input id="indeed" class="custom-range-input" type="range" min="0" max="5"/>
    <label for="indeed">Sweet Love</label>
  </div>
  </form>
</div>

<div class="container">
  <h5 class="text-center display-1">Input Groups</h5>
  <form>
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text small">$</span>
      </div>
      <input type="text" class="form-control" placeholder="Enter a Price" >
    </div>
    <div class="input-group mb-3">
      <input type="text" class="form-control" placeholder="Enter a Price"/>
      <div class="input-group-append">
         <span class="input-group-text">@gmail.com</span>
      </div>
    </div>
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text">@</span>
      </div>
      <input class="form-control" type="text" name="" id=""  placeholder="Enter a Program"/>
    </div>
    <div class="input-group">
      <input class="form-control" type="text" id="" name="" placeholder="Search" />
      <div class="input-group-append">
        <button class="btn btn-success">Go</button>
      </div>
    </div>
    <div class="input-group">
      <div class="input-group-prepend">
        <span class="input-group-text">
          <i class="fas fa-key input-group-text"></i>
        </span>
      </div>
      <input type="password" class="form-control" placeholder="password"/>
    </div>
  </form>
  <div class="container">
    <form class="form-inline">
      <div class="input-group">
        <div class="input-group-prepend">
        <span class="input-group-text">
          <i class="fas fa-user"></i>
        </span>
        </div>
        <input type="text" class="form-control" placeholder="Enter it this" />
      </div>
      <div class="input-group">
        <div class="input-group-prepend">
        <span class="input-group-text">
          <i class="fas fa-user"></i>
        </span>
        </div>
        <input type="text" class="form-control" placeholder="Enter it this" />
      </div>
      <input type="submit" class="btn btn-info">
    </form>
  </div>







  <div class="container">
    <h1 class="display-1 text-center">Part 1</h1>
    <form>
      <div class="form-group">
        <label for="">Full Name</label>
        <input class="form-control" name="" id="" type="text" placeholder="Full Name" />
      </div>
      <label class="" for="">Username</label>
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text">@</span>
        </div>
        <input type="text" class="form-control" placeholder="Full Name" />
      </div>
      <div class="form-group">
        <label for="emails">Email <span class="text-muted">(Optional)</span></label>
        <br/>
        <input class="form-control" type="email" name="" id="emails" placeholder="you@example.com"/>
      </div>
      <div class="form-group">
        <label for="address">Address</label>
        <input class="form-control" type="text" name="" id="address" placeholder="1234 Market St." />
      </div>
      <div class="form-group">
        <label for="">Address 2<span class="text-muted">(optional)</span></label>
        <input class="form-control" type="text" name="" id="" placeholder="Apartment or Suite" />
      </div>
      <div class="form-group">
        <label for="">Special Notes<span class="text-muted">(Optional)</span></label>
        <textarea class="form-control" name=""  placeholder="" rows="4"></textarea>
        <span class="text-muted">Include any special Request you have for us!</span>
      </div>
      <div class="custom-control custom-checkbox">
        <div class="custom-checkbox">
          <input type="checkbox" class="custom-control-input" name="" id="shippings" placeholder="" />
          <label class="custom-control-label" for="shippings"> Save my info for next time</label>
        </div>
        <div class="custom-checkbox">
          <input type="checkbox" class="custom-control-input" name="" id="shipping" placeholder="" />
          <label class="custom-control-label" for="shipping"> Shipping address is same as billing</label>
        </div>
      </div>
      <h4>Shipping Options</h4>
      <div class="custom-control custom-radio">
         <div class="custom-radio">
           <input type="radio" class="custom-control-input" name="ship" id="no1" placeholder=""/>
           <label class="custom-control-label" for="no1">Same Day Shipping</label>
         </div>
        <div class="custom-radio">
          <input type="radio" class="custom-control-input" name="ship" id="no2" placeholder=""/>
          <label class="custom-control-label" for="no2">Next Day Shipping</label>
        </div>
        <div class="custom-radio">
          <input type="radio" class="custom-control-input" name="ship" id="no3" placeholder=""/>
          <label class="custom-control-label" for="no3">3-5 Business Days</label>
        </div>
      </div>
      <button type="Submit" class="btn btn-primary text-center btn-block">Continue To Checkout</button>
    </form>
  </div>


  <h1 class="display-1 text-center">Part 2</h1>
  <div class="container border rounded" style="max-width: 400px;">
    <h3 class="text-center">Sign In</h3>
    <form >

      <div class="form-group">
        <input type="email" name="" class="form-control" placeholder="Email" />
      </div>
      <div class="form-group">
        <input type="password" name="" class="form-control" placeholder="Password" />
      </div>
      <div class="custom-control custom-checkbox">

          <input type="checkbox" name="" id="resemblance" class="custom-control-input" />
          <label class="custom-control-label" for="resemblance">Remember Me!</label>

      </div>
      <button type="submit" class="btn btn-info text-center btn-block">Sign In</button>
      <h6 class="text-center">Not a Member?<a href="text-info text-center">Register</a></h6>
    </form>
  </div>
</div>
</body>
</html>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a href="#" class="navbar-brand"> Recipe Book</a>
    </div>

    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li><a href="#">Recipes</a></li>
        <li><a href="#">Shopping Lists</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" role="button">Manage<span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="#">Saving Data</a></li>
          <li><a href="#">Fetch Data</a></li>
        </ul>
        </li>
      </ul>
      <div></div>
    </div>
  </div>
</nav>
