<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.7/css/all.css">
  <!-- Add these dependencies before </body> tag -->
  <title>Document</title>
</head>
<body>

<div class="container">
  <button class="btn btn-outline-primary"> Click Me</button>
  <button class="btn btn-outline-secondary">Click Me</button>
  <button class="btn btn-outline-success">Click Me</button>
  <button class="btn btn-outline-danger">Click Me</button>
  <button type="button" class="btn btn-outline-warning btn-sm btn-block">Click Me</button>
  <button type="button" class="btn btn-outline-info  btn-lg btn-block" disabled>Click Me</button>
</div>
<div class="container">
  <div class="jumbotron">
    <h1 class="display-4 text-primary" >Hello World!</h1>
   <hr class="my-4">
    <p class="lead">it uses utility for topography</p>
    <a class="btn btn-outline-primary btn-lg" href="">Wow</a>
  </div>
</div>

<div class="container">
  <div class="jumbotron bg-dark text-white">
    <h1 class="display-4 text-white" >Adopt a Pet</h1>
    <hr class="my-4">
    <p class="lead">Apporximately 75 million animals live in the jungle and desert </p>
    <p class="h5 text-primary">This is major</p>
    <a class="btn btn-light btn-lg text-black-50" href="">Wow!</a>
  </div>

  <div class="container">
    <h1>Part1</h1>
     <p class="text-primary display-4">Make me blue(primary) and display size 4</p>
     <p class="h1">Make me look like a h1</p>
    <button class="btn btn-lg btn-danger">larger Red Button</button>
    <button class="btn btn-warning"> Regular Yellow Button</button>
    <button class=" btn btn-sm btn-success">Small green Button</button>
    <a class="btn btn-lg btn-outline-info">Large light Blue Outline</a>
    <button class="btn bg-sm btn-outline-success text-danger">Button small green outline Button with red text</button>
    <p class="h1">Big Text <small class="text-muted">Make me Muted</small></p>
    <a class="bg-dark text-white text-center btn-block">Dark Background white text AND center aligned</a>
    <button  class="btn btn-link text-black-50 btn-light">make me look like a link, not a button</button>
    <h1>Part2</h1>
  </div>

  <div class="container">
    <div class="jumbotron text-left">
      <h1 class="display-3">My Website</h1>
      <blockquote>
        <p>This is the best website i have ever used , and i strongly encourage eceryone to pay lots of money for it</p>
        <footer class="blockquote-footer">Satisfied Customer</footer>
      </blockquote>
      <button class=" btn text-white btn-lg btn-info">Subscribe</button>
    </div>
  </div>


  <div id="fogheader" class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-3"> This is Fog</h1>
      <blockquote><p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium consectetur eaque esse facere fugiat harum nesciunt nisi nobis officiis voluptatibus!</p></blockquote>
      <button class="btn btn-lg text-white btn-success">Try it Now!</button>
    </div>
  </div>
<style>
  #fogheader{

  }
</style>
  <div class="h1 bg-dark text-white">This is an h1 block</div>
  <div class="h1 bg-dark text-white d-inline">This is an h1 inline</div>
  <span class="bg-info text-white">I am a Span</span>
  <br/>
  <span class="bg-info text-white d-block">I am a Real Span</span>
  <h1 class="d-none d-sm-block">Hidden on XS</h1>
  <h1 class="d-none d-md-block">Hidden on Middle XS</h1>

  <div class="container">
    <h1>Current breakpoint is:
      <span class="d-inline d-sm-none">XS</span>
      <span class="d-none d-sm-inline d-md-none">SM</span>
      <span class="d-none d-md-inline d-lg-none">MD</span>
      <span class="d-none d-lg-inline d-xl-none">LG</span>
      <span class="d-none d-xl-inline">XL</span>
    </h1>
  </div>

</div>
<div class="container">
  <span class="border">big</span>
  <span class="border-bottom">bang</span>
  <span class="border-right">history</span>
  <span class="border border-left-0">love</span>
  <span class="border border-info rounded">surrounded</span>
  <span class="border border-info rounded-circle">with</span>
  <span class="border ">love</span>
  <br/>
  <h3 class="shadow-sm">Small Shadow</h3>
  <h3 class="shadow">Regular Shadow</h3>
  <h3 class="shadow-lg">Large Shadow</h3>
</div>

<div class="container">
  <h1 class="p-0 bg-info d-inline-block">p-0</h1>
  <h1 class="p-1 bg-info d-inline-block">p-1</h1>
  <h1 class="p-2 bg-info d-inline-block">p-2</h1>
  <h1 class="p-3 bg-info d-inline-block">p-3</h1>
  <h1 class="p-4 bg-info d-inline-block">p-4</h1>
  <h1 class="p-5 bg-info d-inline-block">p-5</h1>
  <button class="btn p-5 btn-lg bg-warning">pt-5</button>
  <br/>
  <h1 class="display-1">Margin Utility</h1>
  <h1 class="m-0 bg-success d-inline-block">m-0</h1>
  <h1 class="m-1 bg-success d-inline-block">m-1</h1>
  <h1 class="m-2 bg-success d-inline-block">m-2</h1>
  <h1 class="m-3 bg-success d-inline-block">m-3</h1>
  <h1 class="m-4 bg-success d-inline-block">m-4</h1>
  <h1 class="m-5 bg-success d-inline-block">m-5</h1>
</div>

<div class="container">
  <span class="m-2 m-md-3 m-lg-4 m-xl-5 bg-danger"></span>
  <span class="m-2 m-md-3 m-lg-4 m-xl-5 bg-danger"></span>
  <span class="m-2 m-md-3 m-lg-4 m-xl-5 bg-danger"></span>
  <span class="m-2 m-md-3 m-lg-4 m-xl-5 bg-danger"></span>
  <span class="m-2 m-md-3 m-lg-4 m-xl-5 bg-danger"></span>
  <span class="m-2 m-md-3 m-lg-4 m-xl-5 bg-danger"></span>
</div>


<div class="container">
  <h1 class="border border-success">Give me a green Boarder</h1>
  <h1 class="border-bottom border-danger">Give me a red Bottom border</h1>
  <h1 class="border border-warning rounded">Give me a rounded yellow border</h1>
  <h4 class="bg-danger text-white d-inline-block">red bg, white text, display inline</h4>

  <button class="btn btn-lg bg-info shadow-lg">Large Button with Large Shadow</button>

  <div class="shadow-sm p-3 my-5">small shadow with padding(3) all around and margin(5) on top and bottom</div>

  <button class="btn btn-lg btn-outline-success p-xs-0 p-md-3 p-xl-5">I Grow</button>

  <h2 class="d-none text-center d-xs-block d-sm-block">Center me, and make me hide at XS and SM</h2>
</div>

<div class="container">
  <h1>Form</h1>
  <form>
    <div class="form-group">
      <label for="email">Email Address</label>
      <input type="email" id="email" class="form-control" placeholder="enter your email" />
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" id="password" class="form-control" placeholder="Enter your password">
      <small class="text-muted">Password must have at least 8 character</small>
    </div>
    <div class="form-group">
      <label for="multiselect">Select one of the following</label>
      <select id="multiselect" class="form-control">
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
        <option>6</option>
        <option>7</option>
        <option>8</option>
        <option>9</option>
      </select>
      <small class="text-muted">Hold</small>
    </div>
    <div class="form-group">
      <label for="textarea">Text Area</label>
      <textarea id="textarea" class="form-control" rows="4"></textarea>
    </div>
    <div class="form-group">
      <label for="data"></label>
      <input type="file" class="form-control-file" id="data">
    </div>
    <div class="form-group">
      <label for="formControlRange">Example Range Input</label>
      <input type="range" id="formControlRange" class="form-control-range"/>
    </div>
    <div class="form-group">
      <label for="largeemail"></label>
      <input id="largeemail" class="form-control form-control-lg" placeholder="enter your email"/>
    </div>
    <div class="form-group">
      <label for="smallemail"></label>
      <input id="smallemail" class="form-control form-control-sm"  placeholder="enter your email"/>
    </div>
    <input type="submit" value="Submit" class="btn btn-lg btn-primary" />
  </form>
</div>
<div class="container">
  <h1 class="display-4">Form CheckBox</h1>
  <div class="form-check">
    <input class="form-check-input" type="checkbox" name="" id="chicken"/>
    <label class="form-check-label" for="chicken">Chicken</label>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="checkbox" name="" id="cheese">
    <label class="form-check-label" for="cheese">Cheese</label>
  </div>
  <div class="form-check">
    <input  class="form-check-input" type="checkbox" id="rabbit" name=""/>
    <label class="form-check-label" for="rabbit">Rabbit</label>
  </div>
  <h1 class="display-4">Form RadioButton</h1>
   <div class="form-check form-check-inline">
     <input type="radio" class="form-check-input" id="burger" name="food" >
     <label class="form-check-label" for="burger">Burger</label>
   </div>
  <div class="form-check form-check-inline">
    <input type="radio" class="form-check-input" id="pissa" name="food" >
    <label class="form-check-label" for="pissa">pissa</label>
  </div>
  <div class="form-check form-check-inline">
    <input type="radio" class="form-check-input" id="sandwich" name="food" >
    <label class="form-check-label" for="sandwich">sandwich</label>
  </div>
</div>

<div class="container">
  <form>


  <h4> Custom Checkbox</h4>
  <div class="custom-control custom-checkbox">
    <input type="checkbox" name="Animal1" id="Cat" class="custom-control-input"/>
    <label class="custom-control-label" for="Cat">Cat</label>
  </div>
  <h4>Custom Radio</h4>
  <div class="custom-control custom-radio">
    <input class = "custom-control-input" type="radio" id="Dog" name="Animal" />
    <label class = "custom-control-label" for="Dog">Dogs</label>
  </div>
  <div class="custom-control custom-radio">
    <input class = "custom-control-input" type="radio" id="Power" name="Animal" />
    <label class = "custom-control-label" for="Power">Cows</label>
  </div>
  <h4>Custom File</h4>
  <div class="custom-file">
    <input id="customfile" type="file" class="custom-file-input" />
    <label class="custom-file-label" for="customfile">Choose File</label>
  </div>
  <h5>Custom Range</h5>
  <div class="custom-control custom-range">
    <input id="indeed" class="custom-range-input" type="range" min="0" max="5"/>
    <label for="indeed">Sweet Love</label>
  </div>
  </form>
</div>

<div class="container">
  <h5 class="text-center display-1">Input Groups</h5>
  <form>
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text small">$</span>
      </div>
      <input type="text" class="form-control" placeholder="Enter a Price" >
    </div>
    <div class="input-group mb-3">
      <input type="text" class="form-control" placeholder="Enter a Price"/>
      <div class="input-group-append">
         <span class="input-group-text">@gmail.com</span>
      </div>
    </div>
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text">@</span>
      </div>
      <input class="form-control" type="text" name="" id=""  placeholder="Enter a Program"/>
    </div>
    <div class="input-group">
      <input class="form-control" type="text" id="" name="" placeholder="Search" />
      <div class="input-group-append">
        <button class="btn btn-success">Go</button>
      </div>
    </div>
    <div class="input-group">
      <div class="input-group-prepend">
        <span class="input-group-text">
          <i class="fas fa-key input-group-text"></i>
        </span>
      </div>
      <input type="password" class="form-control" placeholder="password"/>
    </div>
  </form>
  <div class="container">
    <form class="form-inline">
      <div class="input-group">
        <div class="input-group-prepend">
        <span class="input-group-text">
          <i class="fas fa-user"></i>
        </span>
        </div>
        <input type="text" class="form-control" placeholder="Enter it this" />
      </div>
      <div class="input-group">
        <div class="input-group-prepend">
        <span class="input-group-text">
          <i class="fas fa-user"></i>
        </span>
        </div>
        <input type="text" class="form-control" placeholder="Enter it this" />
      </div>
      <input type="submit" class="btn btn-info">
    </form>
  </div>







  <div class="container">
    <h1 class="display-1 text-center">Part 1</h1>
    <form>
      <div class="form-group">
        <label for="">Full Name</label>
        <input class="form-control" name="" id="" type="text" placeholder="Full Name" />
      </div>
      <label class="" for="">Username</label>
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text">@</span>
        </div>
        <input type="text" class="form-control" placeholder="Full Name" />
      </div>
      <div class="form-group">
        <label for="emails">Email <span class="text-muted">(Optional)</span></label>
        <br/>
        <input class="form-control" type="email" name="" id="emails" placeholder="you@example.com"/>
      </div>
      <div class="form-group">
        <label for="address">Address</label>
        <input class="form-control" type="text" name="" id="address" placeholder="1234 Market St." />
      </div>
      <div class="form-group">
        <label for="">Address 2<span class="text-muted">(optional)</span></label>
        <input class="form-control" type="text" name="" id="" placeholder="Apartment or Suite" />
      </div>
      <div class="form-group">
        <label for="">Special Notes<span class="text-muted">(Optional)</span></label>
        <textarea class="form-control" name=""  placeholder="" rows="4"></textarea>
        <span class="text-muted">Include any special Request you have for us!</span>
      </div>
      <div class="custom-control custom-checkbox">
        <div class="custom-checkbox">
          <input type="checkbox" class="custom-control-input" name="" id="shippings" placeholder="" />
          <label class="custom-control-label" for="shippings"> Save my info for next time</label>
        </div>
        <div class="custom-checkbox">
          <input type="checkbox" class="custom-control-input" name="" id="shipping" placeholder="" />
          <label class="custom-control-label" for="shipping"> Shipping address is same as billing</label>
        </div>
      </div>
      <h4>Shipping Options</h4>
      <div class="custom-control custom-radio">
         <div class="custom-radio">
           <input type="radio" class="custom-control-input" name="ship" id="no1" placeholder=""/>
           <label class="custom-control-label" for="no1">Same Day Shipping</label>
         </div>
        <div class="custom-radio">
          <input type="radio" class="custom-control-input" name="ship" id="no2" placeholder=""/>
          <label class="custom-control-label" for="no2">Next Day Shipping</label>
        </div>
        <div class="custom-radio">
          <input type="radio" class="custom-control-input" name="ship" id="no3" placeholder=""/>
          <label class="custom-control-label" for="no3">3-5 Business Days</label>
        </div>
      </div>
      <button type="Submit" class="btn btn-primary text-center btn-block">Continue To Checkout</button>
    </form>
  </div>


  <h1 class="display-1 text-center">Part 2</h1>
  <div class="container border rounded" style="max-width: 400px;">
    <h3 class="text-center">Sign In</h3>
    <form >

      <div class="form-group">
        <input type="email" name="" class="form-control" placeholder="Email" />
      </div>
      <div class="form-group">
        <input type="password" name="" class="form-control" placeholder="Password" />
      </div>
      <div class="custom-control custom-checkbox">

          <input type="checkbox" name="" id="resemblance" class="custom-control-input" />
          <label class="custom-control-label" for="resemblance">Remember Me!</label>

      </div>
      <button type="submit" class="btn btn-info text-center btn-block">Sign In</button>
      <h6 class="text-center">Not a Member?<a href="text-info text-center">Register</a></h6>
    </form>
  </div>
</div>





<div class="container">
 <h1 class="display-1">Navs</h1>
  <ul class="nav">
    <li class="nav-item">
      <a href="#" class="nav-link active">First</a>
    </li>
    <li class="nav-item">
      <a href="#" class="nav-link active">Second</a>
    </li>
    <li class="nav-item">
      <a href="#" class="nav-link active">Third</a>
    </li>
    <li class="nav-item">
      <a href="#" class="nav-link disabled">Fourth</a>
    </li>
  </ul>

  <h3>Navs Pro</h3>
  <nav class="nav nav-tabs">
    <a href="#" class="nav-link disabled">First</a>
    <a href="#" class="nav-link active">Second</a>
    <a href="#" class="nav-link active">Third</a>
    <a href="#" class="nav-link disabled">Fourth</a>
  </nav>
<br>
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a href="#" class="nav-link active">First</a>
    </li>
    <li class="nav-item">
      <a href="#" class="nav-link disabled">Second</a>
    </li>
    <li class="nav-item">
      <a href="#" class="nav-link active">Third</a>
    </li>
    <li class="nav-item">
      <a href="#" class="nav-link active">Fourth</a>
    </li>
  </ul>
<br>

  <h3 class="display-4">Pills</h3>
  <ul class="nav nav-pills nav-justified">
      <li class="nav-link">
        <a href="#" class="nav-link active">First</a>
      </li>

    <li class="nav-link">
      <a href="#" class="nav-link active">Second</a>
    </li>
    <li class="nav-link">
      <a href="#" class="nav-link">Third</a>
    </li>
    <li class="nav-link">
      <a href="#" class="nav-link">Fourth</a>
    </li>

  </ul>
  <div class="container" >
    <div class="d-flex border flex-column align-items-start justify-content-around" style="height: 400px">
      <button class="btn btn-lg btn-danger">Button 1</button>
      <button class="btn btn-lg btn-warning">Button 1</button>
      <button class="btn btn-lg btn-success">Button 1</button>
      <button class="btn btn-lg btn-primary">Button 1</button>
    </div>
  </div>

  <nav class="navbar navbar-light bg-light">
    <a href="#" class="navbar-brand">Navbar</a>
    <button class="navbar-toggler" data-toggle="collapse" data-target="#myNav"><span class="navbar-toggler-icon"></span></button>
    <div class="collapse navbar-collapse" id="myNav">
       <ul class="navbar-nav">
         <li class="nav-item">
           <a href="#" class="nav-link active">About</a>
         </li>
         <li class="nav-item">
           <a href="#" class="nav-link">Home</a>
         </li>
         <li class="nav-item">
           <a href="#" class="nav-link disabled">us</a>
         </li>
       </ul>
    </div>
  </nav>


</div>

<nav class="navbar navbar-expand-sm navbar-light bg-light">
  <a href="#" class="navbar-brand">Nav</a>
  <button class="navbar-toggler" data-toggler="collapse" data-bs-target="#myNav2">Click</button>
  <div class="collapse navbar-collapse" id="myNav2">
    <ul class="navbar-nav" >
      <li class="nav-item" >
        <a href="#" class="nav-link active">Home</a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link active">about us</a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link active">some</a>
      </li>
    </ul>
  </div>
</nav>

<nav class="navbar sticky-top navbar-expand-sm navbar-light bg-light">
  <a href="#" class="navbar-brand">Nav</a>
  <button class="navbar-toggler" data-toggle="collapse" data-bs-target="#myNav22">Click</button>
  <div class="collapse navbar-collapse justify-content-between" id="myNav22">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a href="#" class="nav-link active">Home</a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link active">about us</a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link active">some</a>
      </li>
    </ul>
    <form action="" class="form-inline">
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text">@</span>
        </div>
        <input class="form-control" type="text" placeholder="Username"/>
      </div>
    </form>
  </div>
</nav>
<div class="container">
  <p>Paragraphs & Topic Sentences
    A paragraph is a series of sentences that are organized and coherent, and are all related to a single topic. Almost every piece of writing you do that is longer than a few sentences should be organized into paragraphs. This is because paragraphs show a reader where the subdivisions of an essay begin and end, and thus help the reader see the organization of the essay and grasp its main points.

    Paragraphs can contain many different kinds of information. A paragraph could contain a series of brief examples or a single long illustration of a general point. It might describe a place, character, or process; narrate a series of events; compare or contrast two or more things; classify items into categories; or describe causes and effects. Regardless of the kind of information they contain, all paragraphs share certain characteristics. One of the most important of these is a topic sentence.

    TOPIC SENTENCES
    A well-organized paragraph supports or develops a single controlling idea, which is expressed in a sentence called the topic sentence. A topic sentence has several important functions: it substantiates or supports an essay’s thesis statement; it unifies the content of a paragraph and directs the order of the sentences; and it advises the reader of the subject to be discussed and how the paragraph will discuss it. Readers generally look to the first few sentences in a paragraph to determine the subject and perspective of the paragraph. That’s why it’s often best to put the topic sentence at the very beginning of the paragraph. In some cases, however, it’s more effective to place another sentence before the topic sentence—for example, a sentence linking the current paragraph to the previous one, or one providing background information.

    Although most paragraphs should have a topic sentence, there are a few situations when a paragraph might not need a topic sentence. For example, you might be able to omit a topic sentence in a paragraph that narrates a series of events, if a paragraph continues developing an idea that you introduced (with a topic sentence) in the previous paragraph, or if all the sentences and details in a paragraph clearly refer—perhaps indirectly—to a main point. The vast majority of your paragraphs, however, should have a topic sentence.

    PARAGRAPH STRUCTURE
    Most paragraphs in an essay have a three-part structure—introduction, body, and conclusion. You can see this structure in paragraphs whether they are narrating, describing, comparing, contrasting, or analyzing information. Each part of the paragraph plays an important role in communicating your meaning to your reader.

    Introduction: the first section of a paragraph; should include the topic sentence and any other sentences at the beginning of the paragraph that give background information or provide a transition.

    Body: follows the introduction; discusses the controlling idea, using facts, arguments, analysis, examples, and other information.

    Conclusion: the final section; summarizes the connections between the information discussed in the body of the paragraph and the paragraph’s controlling idea.

    The following paragraph illustrates this pattern of organization. In this paragraph the topic sentence and concluding sentence (CAPITALIZED) both help the reader keep the paragraph’s main point in mind</p>
</div>

<nav class="navbar fixed-top navbar-expand-sm navbar-light bg-light">
  <a href="#" class="navbar-brand">Nav</a>
  <button class="navbar-toggler" data-toggle="collapse" data-bs-target="#myNav22">Click</button>
  <div class="collapse navbar-collapse justify-content-between" id="myNav22">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a href="#" class="nav-link active">Home</a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link active">about us</a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link active">some</a>
      </li>
    </ul>
    <form action="" class="form-inline">
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text">@</span>
        </div>
        <input class="form-control" type="text" placeholder="Username"/>
      </div>
    </form>
  </div>
</nav>

  <nav class="navbar fixed-top navbar-expand-sm navbar-light bg-light">
    <a href="#" class="navbar-brand">Button</a>
    <button class="navbar-toggler" data-toggle="collapse" data-bs-target="#myNav12">Click</button>
    <div class="collapse navbar-collapse justify-content-between" id="myNav12">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a href="#" class="nav-link active">Home</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link active">love</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link active">aboutus</a>
        </li>
      </ul>
    <form action="" class="form-inline">
       <div class="input-group">
         <div class="input-group-prepend">
          <span class="input-group-text">@</span>
         </div>
         <input type="text" class="form-control" placeholder="Username" />
       </div>
    </form>
    </div>
  </nav>

<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <a href="#" class="navbar-brand">My Pets</a>
  <button class="navbar-toggler" data-toggler="collapse" data-target="#powerangle">
    Click
  </button>
  <div class="collapse navbar-collapse">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a href="" class="nav-link active">Dogs</a>
      </li>
      <li class="nav-item">
        <a href="" class="nav-link ">Cats</a>
      </li>
      <li class="nav-item">
        <a href="" class="nav-link disabled">Rabbits</a>
      </li>
    </ul>
  </div>
  <form class="form-inline">
    <div class="input-group">
      <div class="input-group-prepend">
        <span href="" class="input-group-text">@</span>
      </div>
      <input class="form-control" type="text" placeholder="" />
      <button class="btn btn-success">Search</button>
    </div>
  </form>
</nav>


  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-3">Hey There!</h1>
      <p> PARAGRAPH STRUCTURE
        Most paragraphs in an essay have a three-part structure—introduction, body, and conclusion. You can see this structure in paragraphs whether they are narrating, describing, comparing, contrasting, or analyzing information. Each part of the paragraph plays an important role in communicating your meaning to your reader.

        Introduction: the first section of a paragraph; should include the topic sentence and any other sentences at the beginning of the paragraph that give background information or provide a transition.

        Body: follows the introduction; discusses the controlling idea, using facts, arguments, analysis, examples, and other information.

        Conclusion: the final section; summarizes the connections between the information discussed in the body of the paragraph and the paragraph’s controlling idea.

        The following paragraph illustrates this pattern of organization. In this paragraph the topic sentence and concluding sentence (CAPITALIZED) both help the reader keep the paragraph’s main point in mind</p>
      <button class="btn btn-success">Learn More -></button>

      </div>
    </div>

<div class="container border p-3">
<nav class="nav nav-pills nav-fill flex-sm-row flex-column">
  <li class="nav-link">
    <a href="#" class="nav-link active">Dogs</a>
  </li>
  <li class="nav-link">
    <a href="#" class="nav-link">Cats</a>
  </li>
  <li class="nav-link">
    <a href="#" class="nav-link disabled">Rabbits</a>
  </li>
</nav>
  <p>PARAGRAPH STRUCTURE
    Most paragraphs in an essay have a three-part structure—introduction, body, and conclusion. You can see this structure in paragraphs whether they are narrating, describing, comparing, contrasting, or analyzing information. Each part of the paragraph plays an important role in communicating your meaning to your reader.

    Introduction: the first section of a paragraph; should include the topic sentence and any other sentences at the beginning of the paragraph that give background information or provide a transition.

    Body: follows the introduction; discusses the controlling idea, using facts, arguments, analysis, examples, and other information.

    Conclusion: the final section; summarizes the connections between the information discussed in the body of the paragraph and the paragraph’s controlling idea.

    The following paragraph illustrates this pattern of organization. In this paragraph the topic sentence and concluding sentence (CAPITALIZED) both help the reader keep the paragraph’s main point in mind</p>

</div>

<div class="container">
  <h1 class="display-1">Grid Basics</h1>
  <div class="row border" style="height: 100px">
    <div class="col bg-info">
      First
    </div>
    <div class="col bg-success">
      Second
    </div>
    <div class="col bg-primary">
      Third
    </div>
    <div class="col bg-danger">
      Fourth
    </div>
  </div>
  <div class="row border" style="height: 100px">
    <div class="col bg-success">
      First
    </div>
    <div class="col bg-danger">
      Second
    </div>
  </div>
  <div class="row border" style="height: 100px">
    <div class="col-8 bg-success">
      8
    </div>
    <div class="col bg-danger">
      4
    </div>
  </div>
</div>

<div class="container">
<div class="row">
  <div class="col-9">
    <p>lotem What is a Paragraph? Definition, Examples of Paragraphs
      Home » The Writer’s Dictionary » What is a Paragraph? Definition, Examples of Paragraphs


      Paragraph definition: A paragraph is a unit of writing in a larger body of work. A paragraph expresses a particular topic or theme.

      What is a Paragraph?
      A paragraph is a component of fictional prose and non-fiction writings.

      When writing essays, research papers, books, etc., new paragraphs are indented to show their beginnings. Each new paragraph begins with a new indentation.

      The purpose of a paragraph is to express a speaker’s thoughts on a particular point in a clear way that is unique and specific to that paragraph. In other words, paragraphs shouldn’t be mixing thoughts or ideas. When a new idea is introduced, generally, a writer will introduce a new paragraph.


      Basic Paragraph Structure: How to Layout a Paragraph
      In non-fiction writing, a body paragraph is any paragraph that comes between the introduction and the conclusion.

      A good body paragraph will have the following</p>
  </div>
  <div class="col-3">
    <div class="nav">
      <a href="" class="nav-link">Home</a>
      <a href="" class="nav-link">Home</a>
      <a href="" class="nav-link">Home</a>
      <a href="" class="nav-link">Home</a>
    </div>
  </div>

  <div class="container">
    <h1>Responsive</h1>
    <div class="row border" style="min-height: 200px">
      <div class="col-3 bg-info">
      </div>
      <div class="col-6 bg-danger">
      </div>
      <div class="col-3 bg-info">
      </div>
    </div>
  </div>
  <div class="container">
    <h1>Responsive 2</h1>
    <div class="row border" style="min-height: 200px">
      <div class="col-md-2 bg-info">
      </div>
      <div class="col-md-6 bg-primary">
      </div>
      <div class="col-md-4 bg-info">
      </div>
    </div>
    <h1 class="display-5">Demo</h1>
    <div class="row">
      <div class="col-xl-9 border rounded ">
        Phillips conceived Joker in 2016 and wrote the script with Silver throughout 2017. The two were inspired by 1970s character studies and the films of Martin Scorsese, particularly Taxi Driver (1976) and The King of Comedy (1982), who was initially attached to the project as a producer. The film loosely adapts plot elements from Batman: The Killing Joke (1988), but Phillips and Silver otherwise did not look to specific comics for inspiration. Phoenix became attached in February 2018 and was cast that July, while the majority of the cast signed on by August. Principal photography took place in New York City, Jersey City and Newark, from September to December 2018. Joker is the first live-action theatrical Batman film to receive an R rating from the Motion Picture Association.[a]
      </div>
      <div class="col-xl-3 border rounded bg-light">
        <div class="nav flex-column">
         <div class="nav-link">August 2019</div>
         <div class="nav-link">September 2019</div>
         <div class="nav-link">October 2019</div>
         <div class="nav-link">November 2019</div>
         <div class="nav-link">December 2019</div>
         <div class="nav-link">Janurary 2019</div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <h1>Grid Alignment</h1>
    <div class="row border align-items-center" style="min-height: 400px">
      <div class="col border">
        <h3>Thing One</h3>
        <p>jeopardized Moses’ life. The names of Moses’ parents are not given here but in 6:20 it is learned that his father was Amram and his mother Jochebed, Amram’s aunt. This Levite couple had two other children: Miriam (15:20) and Aaron (6:20). Aaron was three years older than Moses (7:7). Assuming that the Exodus occurred in 1446 and since Moses was 80 years old at that time (7:7), he was born in 1526 b.c. at the beginning of the reign of Thutmose I (1526-1512) or at the end of Amenhotep I’s reign (1545-1526).</p>
      </div>
      <div class="col border">
        <h3>Thing Two</h3>
        <p>Aaron was older than Moses and was not threatened by the decree of Pharaoh which took place at a later date. It only concerned those being born after the decree.</p>
      </div>
      <div class="col border">
        <h3>Thing Three</h3>
        <p>and Aaron (6:20). Aaron was three years older than Moses (7:7). Assuming that the Exodus occurred in 1446 and since Moses was 80 years old at that time (7:7), he was born in 1526 b.c. at the beginning of the reign of Thutmose I (1526-1512) or at the end of Amenhotep I’s reign (1545-1526).</p>
      </div>
    </div>
    <h1>Grid Alignment2</h1>
    <div class="row border align-self-start" style="min-height: 400px">
      <div class="col-4 border">
        <h3>Thing One</h3>
        <p>jeopardized Moses’ life. The names of Moses’ parents are not given here but in 6:20 it is learned that his father was Amram and his mother Jochebed, Amram’s aunt. This Levite couple had two other children: Miriam (15:20) and Aaron (6:20). Aaron was three years older than Moses (7:7). Assuming that the Exodus occurred in 1446 and since Moses was 80 years old at that time (7:7), he was born in 1526 b.c. at the beginning of the reign of Thutmose I (1526-1512) or at the end of Amenhotep I’s reign (1545-1526).</p>
      </div>
      <div class="col-3 border align-self-center">
        <h3>Thing Two</h3>
        <p>Aaron was older than Moses and was not threatened by the decree of Pharaoh which took place at a later date. It only concerned those being born after the decree.</p>
      </div>
      <div class="col-5 border align-self-end">
        <h3>Thing Three</h3>
        <p>and Aaron (6:20). Aaron was three years older than Moses (7:7). Assuming that the Exodus occurred in 1446 and since Moses was 80 years old at that time (7:7), he was born in 1526 b.c. at the beginning of the reign of Thutmose I (1526-1512) or at the end of Amenhotep I’s reign (1545-1526).</p>
      </div>
    </div>
    <h1>Grid Alignment3</h1>
    <div class="row border justify-content-start" style="min-height: 400px">
      <div class="col-4 border">
        <h3>Thing One</h3>
        <p>jeopardized Moses’ life. The names of Moses’ parents are not given here but in 6:20 it is learned that his father was Amram and his mother Jochebed, Amram’s aunt. This Levite couple had two other children: Miriam (15:20) and Aaron (6:20). Aaron was three years older than Moses (7:7). Assuming that the Exodus occurred in 1446 and since Moses was 80 years old at that time (7:7), he was born in 1526 b.c. at the beginning of the reign of Thutmose I (1526-1512) or at the end of Amenhotep I’s reign (1545-1526).</p>
      </div>
      <div class="col-3 border justify-content-center">
        <h3>Thing Two</h3>
        <p>Aaron was older than Moses and was not threatened by the decree of Pharaoh which took place at a later date. It only concerned those being born after the decree.</p>
      </div>
      <div class="col-5 border justify-content-end">
        <h3>Thing Three</h3>
        <p>and Aaron (6:20). Aaron was three years older than Moses (7:7). Assuming that the Exodus occurred in 1446 and since Moses was 80 years old at that time (7:7), he was born in 1526 b.c. at the beginning of the reign of Thutmose I (1526-1512) or at the end of Amenhotep I’s reign (1545-1526).</p>
      </div>
    </div>
    <h1>Grid Alignment2</h1>
    <div class="row border justify-content-start">
      <div class="col-4 offset-md-1 border">
        <h3>Thing One</h3>
      </div>
      <div class="col-3 offset-md-2 border">
        <h3>Thing Two</h3>
      </div>
    </div>
    <h1>Grid Alignment2</h1>
    <div class="container-fluid">
      <div class="row border">
        <div class="col-sm border">
          <h1>Left</h1>
        </div>
        <div class="col-sm border">
          Right
          <div class="row border border-success">
            <div class="col-sm-4 border">ONE</div>
            <div class="col-sm-4 border">Two</div>
            <div class="col-sm-4 border">THREE</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <h1 class="display-1">Form Grid</h1>
    <form action="">
      <div class="form-row">
        <div class="col-md">
          <label for="two">First Name</label>
          <input type="text" name="" id="two" class="form-control" placeholder="First Name"/>
        </div>
        <div class="col-md-1">
          <label for="one">Middle</label>
          <input type="text" name="" id="one" class="form-control" placeholder="Middle"/>
        </div>
        <div class="col-md">
          <label for="one">Last Name</label>
          <input type="text" name="" id="one" class="form-control" placeholder="Last Name"/>
        </div>
      </div>
      <div class="form-row">
        <div class="col">
          <label for="three">Address</label>
          <input class="form-control" type="text" id="three" placeholder="Addis Ababa, Ethiopia"/>
        </div>
      </div>
    </form>
  </div>
</div>

  <div class="container">
    <h1 class="display-4 text-center">Part 1</h1>
    <div class="row border">
      <div class="col bg-danger">
        Share Space in row evenly
      </div>
      <div class="col bg-warning">
        Share Space in row evenly
      </div>
      <div class="col bg-success">
        Share Space in row evenly
      </div>
    </div>
  </div>

  <div class="container">
    <h1 class="display-4 text-center">Part 2</h1>
    <div class="row border">
      <div class="col-sm bg-danger">
        Share Space in row evenly
      </div>
      <div class="col-sm bg-warning">
        Share Space in row evenly
      </div>
    </div>
  </div>
  <div class="container">
    <h1 class="display-4 text-center">Part 3</h1>
    <div class="row border">
      <div class="col-md-3 col-xs-6 bg-danger">
        Share Space in row evenly
      </div>
      <div class="col-md-9 col-xs-6 bg-warning">
        Share Space in row evenly
      </div>
    </div>
  </div>
  <div class="container">
    <h1 class="display-4 text-center">Part 4</h1>
    <div class="row border">
      <div class="col bg-danger">
        I Always go all the way Accross
      </div>
      <div class="container">
        <div class="row border">
          <div class="col-md-2 bg-warning">
            Share Space in row evenly
          </div>
          <div class="col-md-8 bg-danger">
            Share Space in row evenly
          </div>
          <div class="col-md-2 bg-warning">
            Share Space in row evenly
          </div>
        </div>
      </div>
      <div class="col bg-danger">
        I Always go all the way Accross
      </div>
    </div>
  </div>

  <div class="container">
    <h1 class="display-4">Part 5</h1>
    <div class="row justify-content-end">
      <div class="col-6 bg-warning">
        Always 50% f row, offset by 50%
      </div>
    </div>
  </div>

  <div class="container">
    <h1 class="display-4">Part-6</h1>
    <div class="row border justify-content-between">
      <div class="col-md-2 bg-primary">
        Always 50% of row, offset by 25%
      </div>
      <div class="col-md-2 bg-info">
        Always 50% of row, offset by 25%
      </div>
    </div>
  </div>

  <div class="container">
    <h1 class="display-4">Part-7</h1>
    <div class="row border justify-content-between">
      <div class="col-md-10 col-sm-12 bg-danger">
        100% on xs,Md and above. 75%
      </div>
      <div class="col-md-2 bg-success">
        Hidden on xs and sm, 25% on md and above
      </div>
    </div>
  </div>

</div>
</body>
</html>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a href="#" class="navbar-brand"> Recipe Book</a>
    </div>

    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li><a href="#">Recipes</a></li>
        <li><a href="#">Shopping Lists</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" role="button">Manage<span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="#">Saving Data</a></li>
          <li><a href="#">Fetch Data</a></li>
        </ul>
        </li>
      </ul>
      <div></div>
    </div>
  </div>
</nav>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a href="#" class="navbar-brand"> Recipe Book</a>
    </div>

    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li><a href="#">Recipes</a></li>
        <li><a href="#">Shopping Lists</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" role="button">Manage<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Saving Data</a></li>
            <li><a href="#">Fetch Data</a></li>
          </ul>
        </li>
      </ul>
      <div></div>
    </div>
  </div>
</nav>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a href="#" class="navbar-brand"> Recipe Book</a>
    </div>

    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li><a href="#">Recipes</a></li>
        <li><a href="#">Shopping Lists</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" role="button">Manage<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Saving Data</a></li>
            <li><a href="#">Fetch Data</a></li>
          </ul>
        </li>
      </ul>
      <div></div>
    </div>
  </div>
</nav>
